<!doctype html>
<html lang="en">

<head>

    <title>Weather app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Welcome to Eleka weather app</a>
        </div>
    </nav>


    <div class="container">
        <div class="row" style="margin: 2%;">
            <label for="exampleDataList" class="form-label">Enter location below and press search</label>
            <div class="col-8">
                <input class="form-control" list="datalistOptions" id="locationField" placeholder="Type to search...">
            </div>
            <div class="col-4">
                <button id="searchButton" type="button" class="btn btn-primary">Search</button>
            </div>

        </div>
        <div class="row" id="progress_bar">
            <div class="spinner-border text-success" role="status" style="margin-left: 50%; margin-right: 50%;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>


        <div id="weather_data" class="row" style="margin: 2%;">

            <div class="row">
                <p id="cityName" class="fw-bolder">Name of the city</p>
                <p id="cityId" class="fw-bold">Bolder weight text (relative to the parent element).</p>
                <p id="cord" class="fw-normal">Normal weight text.</p>
            </div>
            <table id="weather_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Days</th>
                        <th scope="col">Max Temperature</th>
                        <th scope="col">Min Temperature</th>
                        <th scope="col">Humidity</th>
                        <th scope="col">Pressure</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <canvas id="myChart"></canvas>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="https://www.jsdelivr.com/package/npm/chart.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="home.js"> </script>
</body>

</html>